@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400&display=swap');

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear-cover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

a, p, h1, h2, h3, h4, span{
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a, p {
  font-size: 0.9em;
}

p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
  line-height: 1.4em;
}

p span {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

header, footer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 2.7vh 2.7vw;
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

img {
  border-radius: 16px;
}

@media (min-width: 1400px) {
  p, a {
    font-size: 1em;
  }
}
